<aside class="sidebar" th:fragment="sidebar">

  <!-- HAUT : LOGO / APP -->
  <div class="sidebar-top">
    <h1>StudyTrack</h1>
  </div>

  <!-- MILIEU : MENU -->
  <div class="sidebar-middle">
    <ul class="menu">
      <li><a href="#">Dashboard</a></li>
      <li><a href="#">Cours</a></li>
      <li><a href="#">Devoirs</a></li>
      <li><a href="calendrier">Calendrier</a></li>
      <li><a href="#">Statistiques</a></li>
      <li><a href="#">Paramètres</a></li>
    </ul>
    <a class="logout">Deconnexion</a>
  </div>


  <!-- BAS : PROFIL -->
  <div class="sidebar-bottom">
    <img src="https://via.placeholder.com/80" alt="Photo profil">
    <div class="user-info">
      <span class="name">Lashwana</span>
      <span class="role">Étudiante</span>
    </div>
  </div>

</aside>